	<div class="wrap">
		<div class="container">
			<div class="row justify-content-between">
				<div class="col-12 col-md d-flex align-items-center">
					<p class="mb-0 phone"><span class="mailus">Phone no:</span> <a href="#">+8801728811619</a> or <span class="mailus">email us:</span> <a href="#">leadsourcer1@gmail.com</a></p>
				</div>
				<div class="col-12 col-md d-flex justify-content-md-end">
					<div class="social-media">
						<p class="mb-0 d-flex">
							<a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-facebook"><i class="sr-only">Facebook</i></span></a>
							<a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-twitter"><i class="sr-only">Twitter</i></span></a>
							<a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-instagram"><i class="sr-only">Instagram</i></span></a>
							<a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-dribbble"><i class="sr-only">Dribbble</i></span></a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
		<div class="container">
			<a class="navbar-brand" href="{% url 'index' %}">B2BLEAD<span>SOURCER</span></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="oi oi-menu"></span> Menu
			</button>
				
			<div class="collapse navbar-collapse" id="ftco-nav">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item active"><a href="{% url 'index' %}" class="nav-link">Home</a></li>

					<!-- <li class="nav-item"><a href="{% url 'service' %}" class="nav-link">Services</a></li> -->


					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="{% url 'service' %}" data-bs-toggle="dropdown">Services</a>
						 <ul class="dropdown-menu">
						   <li><a class="dropdown-item" href="{% url 'leadGeneration' %}">B2B Lead Generation						</a></li>
						   <li><a class="dropdown-item" href="{% url 'linkdinResearch' %}">Linkedin Lead Generation</a></li>
						   <li><a class="dropdown-item" href="{% url 'listBuilding' %}">Bulk Email List building and Verification</a></li>
						   <li><a class="dropdown-item" href="{% url 'marketResearch' %}">Data Entry and Web Research</a></li>
						   <li><a class="dropdown-item" href="{% url 'realEstate' %}">Real Estate Skip Tracing</a></li>
						 </ul>
					 </li>
					 
					 <li class="nav-item"><a href="{% url 'about' %}" class="nav-link">About</a></li>
					<li class="nav-item"><a href="{% url 'cases' %}" class="nav-link">Case Study</a></li>
					<li class="nav-item"><a href="{% url 'blog' %}" class="nav-link">Blog</a></li>
					<li class="nav-item"><a href="{% url 'contact' %}" class="nav-link">Contact us</a></li>
				</ul>
			</div>
		</div>
	</nav>  
	<!-- END nav -->
	
