{% extends 'base.html' %}
{% load static %}
{% block content %}

<style>
    .col-md-4.half.ftco-animate.fadeInUp.ftco-animated {
    background: #ddd;
}
</style>

<section class="hero-wrap hero-wrap-2" style="background-image: url('{% static 'images/bg_3.jpg' %}');" data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text align-items-end justify-content-center">
      <div class="col-md-9 ftco-animate pb-5 text-center">
        <h1 class="mb-3 bread">Product</h1>
        <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home <i class="fa fa-chevron-right"></i></a></span> <span>Services <i class="fa fa-chevron-right"></i></span></p>
      </div>
    </div>
  </div>
</section>

<br>
<br>

<section class="content">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="content">
                    <h3>{{ strategic_Work.title }}</h3>
                    <p>{{ strategic_Work.content|safe }}</p>
                </div>
            </div>

            <div class="col-md-4 half ftco-animate">
                <h2 class="mb-4">Contact us</h2>

                <form action="#" method="POST" class="appointment">
                {% csrf_token %}
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" name="name" required class="form-control" placeholder="Your Name">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="email" name="email" required class="form-control" placeholder="Email">
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group">
                                <input type="text" name="subject" required value="{{ strategic_Work.category.name }}" class="form-control" placeholder="">
                            </div>
                        </div>


                        <div class="col-md-12">
                            <div class="form-group">
                                <input type="text" name="phone" class="form-control" placeholder="Phone">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <textarea name="message" required id="" cols="30" rows="7" class="form-control" placeholder="Message"></textarea>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <input type="submit" value="Send message" class="btn btn-primary py-3 px-4">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>




{% endblock %}